version: "3.8"
services:
  backend:
    image: {{ aws_account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/revuhub-backend:{{ image_tag | default("latest") }}
    env_file:
      - /home/ubuntu/production.env
    restart: always
    ports:
      - "4000:4000"
    deploy:
      restart_policy:
        condition: on-failure
